
.top-bar{
    margin: 0 auto;
}
.float-right{
    text-align: right;
}
#main-content>*{
    margin: 3rem;
    text-align: center;
}

.answerChoiceButton{
    margin-bottom: 10px;
    width: 100%;
}

.all-done-row{
    width: 50%
}
#clear-highscores-btn,
#go-back-to-quiz-btn{

     margin-top: 10px;
}