/* #start-quiz-btn, */
/* h1,
p{
    margin: 0 auto;
}  */
.top-bar{
    margin: 0 auto;
}
.float-right{
    text-align: right;
}
#main-content>*{
    margin: 3rem;
    text-align: center;
}
/* does this do anything? */
.answerChoiceButton{
    margin-bottom: 10px;
    width: 100%;
}
/* .questionBlock{
    text-align: left;
} */
.answer-feedback{
   width: 100%;
   margin-left: 45%;
} 
#questionBottomRow{
    width: 100%
    
}
.all-done-row{
    width: 50%
}