#start-quiz-btn,
h1,
p{
    margin: 0 auto;
}
.top-bar{
    margin: 0 auto;
}
.float-right{
    text-align: right;
}
#main-content>*{
    margin: 3rem;
    text-align: center;
}
/* does this do anything? */
.answerChoiceButton{
    margin: 5px;
}
/* .questionBlock{
    text-align: left;
} */
.center{
    margin-left: 45%;
}